@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Oswald", sans-serif;
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f20;
    color: white;
  }

  main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25292b;
    height: 80%;

    .controller {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 20%;
      padding: 10px;
      background-color: #171a1b;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.26);
      border-radius: 10px;
      margin-top: 15px;
      margin-bottom: 5px;
      .song {
        margin-top: 5px;
        color: white;
      }
      .button-controller {
        padding: 10px;
        button {
          font-family: "Oswald", sans-serif;
          text-align: center;
          background-color: #3b3b3a;
          color: white;
          font-size: 15px;
          margin: 2px;
          height: 35px;
          cursor: pointer;
          border-style: none;
          transition: all 0.2s;
          &:hover {
            filter: brightness(120%);
          }
        }
      }
      .volume-controller {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
        input {
          cursor: pointer;
        }
        label {
          color: white;
          font-size: 15px;
        }
      }

      .upload-controller {
      }
    }
    .visual-area {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;

      height: 600px;
      canvas {
        border-radius: 400px;
      }
    }

    .modal {
      z-index: 10000; /* Sit on top */
      display: flex;
      justify-content: center;
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0, 0, 0); /* Fallback color */
      background-color: rgba(0, 0, 0, 0.027); /* Black w/ opacity */
      position: absolute;
      .container {
        background-color: #26282e;
        display: flex;
        flex-direction: column;
        margin-top: 1px;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;

        padding-left: 10px;
        padding-right: 10px;
        border: 1px solid rgb(75, 74, 74);
        width: 20%;
        height: 30%;
        border-radius: 10px;
        box-shadow: 7px 10px 15px rgba(22, 22, 22, 0.671);
        .close{
           height: 20px;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 120px;
    h3 {
      margin: 0;
    }
    color: white;
    background-color: #1b1f20;
    a {
      text-decoration: none;
      color: rgb(133, 133, 133);
      transition: 0.2s all;
      &:hover {
        filter: brightness(190%);
      }
    }
  }
}
